*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dokdo', cursive;
    font-size: 14px;
    background-color: #e2e7ec;
}

.blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 1120px;
    margin: 0 auto;
    padding: 90px 0;
}

.blog + .loader{
    padding-top: 100px;
    padding-bottom: 50px;
}

.blog-item{
    display: flex;
    flex-direction: column;
    width: 360px;  
    margin-bottom: 20px; 
}

.blog__item{
    display: flex;
    flex-direction: column;
    width: 360px;  
    margin-bottom: 20px; 
}

.blog-item--large{
    width: 740px;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
}

.blog-item__img{
    font-size: 0;
}

.blog-item__content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    padding: 30px;
}

.blog-item__content--large{
    background-color: transparent;
    flex-grow: 0;
    padding: 40px;
}

.blog-item__date{
    display: block;
    margin-bottom: 20px;
    min-height: 18px;
    font-size: 13px;
    text-transform: uppercase;
    color: #818181;
}

.blog-item__date--white{
    color: #fff;
    opacity: 0.5;
}

.blog-item__title{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.blog-item__title:not(:last-child){
    margin-bottom: 20px;
}

.blog-item__title--white a{
    color: #fff !important;
}

.blog-item__title a{
    text-decoration: none;
    color: #1d1d1d;
}

.blog-item__autor{
    margin-top: auto;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    color: #818181;
}
.loader img{
    margin-right: 20px;
}
